@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Diary';
  font-weight: 400;
  src: url('../../assets/fonts/diary-normal.woff') format('woff');
}

@layer components {
  .glow-text {
    @apply transition-all;
    color: theme(colors.main);
    text-shadow: 0px 0px 8px theme(colors.main);
  }
}

@layer base {
  body {
    font-family: 'Diary';
    color: white;
  }

  label {
    cursor: pointer;
  }

  input {
    background-color: transparent;
    outline: none;
  }

  input[type='checkbox'] {
    appearance: none;
    background-color: #fff;
    margin: 0;
  }

  input:invalid[data-focused='true'] ~ span[data-error='true'] {
    display: block;
  }

  input[type='range'] {
    appearance: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    padding-left: 12px;
    padding-right: 12px;
    height: 3px;
    cursor: pointer;
    animate: 0.2s;
    border: 2px solid;
    @apply border-cyan-650;
  }

  input[type='range']::-webkit-slider-thumb {
    height: 7px;
    width: 7px;
    background: black;
    cursor: pointer;
    margin-top: -3.5px;
    appearance: none;
    box-shadow: -3px 0 0 theme(colors.main), 3px 0 0 theme(colors.main),
      0 3px 0 theme(colors.main), 0 -3px 0 theme(colors.main),
      -3px 0 10px theme(colors.main), 3px 0 10px theme(colors.main),
      0 3px 10px theme(colors.main), 0 -3px 10px theme(colors.main);
  }

  span[data-error='true'] {
    @apply text-red-600;
    display: none;
  }

  a {
    cursor: pointer;
  }
}

