@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Diary';
  font-weight: 400;
  src: url('../../assets/fonts/diary-normal.woff') format('woff');
}

@layer components {
  .screen-container {
    @apply h-screen overflow-hidden bg-cover bg-no-repeat;
  }

  .border-default {
    @apply border-4 border-solid border-main;
  }

  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }

  .flex-start-col {
    @apply flex flex-col items-start justify-center;
  }

  .glow-text {
    @apply transition-all;
    color: theme(colors.main);
    text-shadow: 0px 0px 8px theme(colors.main);
  }
}

@layer base {
  body {
    font-family: 'Diary';
    color: white;
  }

  label {
    cursor: pointer;
  }

  input {
    background-color: transparent;
    outline: none;
  }

  input[type='checkbox'] {
    appearance: none;
    background-color: #fff;
    margin: 0;
  }

  input:invalid[data-focused='true'] ~ span[data-error='true'] {
    display: block;
  }

  span[data-error='true'] {
    @apply text-red-600;
    display: none;
  }

  a {
    cursor: pointer;
  }
}
